<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <style>
    .paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}
  </style>
  <body>

    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">CRUD Nodejs Y Mongodb</a>
      <a class="navbar-brand" href="/nuevo">Agregar</a>
    </nav>

    